@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Arimo:ital,wght@0,400..700;1,400..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Arimo:ital,wght@0,400..700;1,400..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
    --color-primary: #090b1a;
    --color-secondary: #1b1938;
    --color-third: #aa5cdb;
    --color-fourth: #ffffffbf;
    --color-fifth: #ffffff99;
}

body {
    font-family: "Inter", sans-serif;
    text-align: center;
    background-color: var(--color-primary);
}

.container {
    max-width: 1050px;
    margin: 40px auto;
    padding: 0;
    display: flex;
    border-radius: 8px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%;
    border-start-end-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: hsl(277, 46%, 40%);
    opacity: 0.5;
}

.content {
    flex: 1;
    padding: 60px;
    padding-bottom: 40px;
    background-color: var(--color-secondary);
}

h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: "Inter", sans-serif;
    text-align: left;
    color: #fff;
}

.content p {
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-fifth);
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 70px;
    margin-right: 50px;
}

.stats .first {
    margin-left: 0;
}

.stat {
    margin-left: 10px;
    padding: 0px;
    text-align: left;
}

.stat span {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.insights {
    color: var(--color-third);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(0, 0%, 0%);
}